{% extends "base.html" %}
{% block content %}
<div class="box">
    <h1 class="title">Registrar Jugador</h1>
    <form action="/jugadores/con-foto" method="post" enctype="multipart/form-data">
        <div class="field"><label>Nombre</label><input class="input" type="text" name="nombre" required></div>
        <div class="field"><label>Edad</label><input class="input" type="number" name="edad" required></div>
        <div class="field"><label>País</label><input class="input" type="text" name="pais" required></div>
        <div class="field">
            <label>Nivel</label>
            <div class="select is-fullwidth"><select name="nivel">
                <option value="principiante">Principiante</option>
                <option value="profesional">Profesional</option>
            </select></div>
        </div>
        <div class="field"><label>Foto</label><input class="file-input" type="file" name="foto" required></div>
        <button class="button is-success">Guardar</button>
    </form>
</div>
{% endblock %}